<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<!-- Mensajes de error -->
				<!-- th:remove="tag" => Remover el div -->
				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="error: ${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>

				<!-- Formulario -->
				<form th:action="@{/form}" th:object="${cliente}" method="post">
					<!-- Nombre -->
					<div class="row mb-3">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-10">
							<input th:field="*{nombre}" type="text" class="form-control"
								id="nombre" th:errorClass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
								class="form-text text-danger"></small>
						</div>
					</div>
					<!-- Apellido -->
					<div class="row mb-3">
						<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-10">
							<input th:field="*{apellido}" type="text" class="form-control"
								id="apellido" th:errorClass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"
								class="form-text text-danger"></small>
						</div>
					</div>
					<!-- Correo -->
					<div class="row mb-3">
						<label for="email" class="col-sm-2 col-form-label">Correo</label>
						<div class="col-sm-10">
							<input th:field="*{email}" type="text" class="form-control"
								id="email" th:errorClass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="form-text text-danger"></small>
						</div>
					</div>
					<!-- Fecha de creacion-->
					<div class="row mb-3">
						<label for="createAt" class="col-sm-2 col-form-label">Fecha
							de creación</label>
						<div class="col-sm-10">
							<input th:field="*{createAt}" type="text" class="form-control"
								id="createAt" th:errorClass="'form-control alert-danger'" /> <small
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"
								class="form-text text-danger"></small>
						</div>
					</div>
					<!-- ID -->
					<!-- <input th:field="*{id}" type="hidden"> -->

					<button type="submit" class="btn btn-primary">Crear</button>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>