<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danicode.mybatis.mapper.EmployeeMapper">
    <!-- Lista de empleados -->
    <resultMap type="com.danicode.mybatis.model.Employee" id="employees">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nrc" property="nrc"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
        <result column="department" property="department"/>
        <result column="post" property="post"/>
        <result column="qualification" property="qualification"/>
    </resultMap>
    <select id="findEmployee" resultMap="employees">
        select * from fn_ad_select_employees()
    </select>
    <!-- Insertar empleado -->
    <resultMap type="com.danicode.mybatis.model.response.OkResponse" id="confirmResultMap">
        <result property="ok" column="ok"/>
        <result property="message" column="message"/>
        <result property="result" column="result"/>
    </resultMap>

    <select id="insertEmployee" resultMap="confirmResultMap">
        select * from fn_insert_employee_2(#{employeeJson})
    </select>
</mapper>